
body{
    background-color: antiquewhite;
}
footer{
    background-color: antiquewhite;
    justify-content: center;
}
.blogbox{
    margin-top: 20px;
    background-color: bisque;
}
.blog{
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    border: solid;
    border-color: black;
    margin-top: 30px;
    }
.contentbox{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}